body{
  background-color: #559CAD;
  text-align: center;
  
}
.container{
  height: 70vh;
}
.grid{
  width: 18vmin;
  height: 18vmin;
  color: #92374D;
  background-color: #C1B2AB;
  font-size:100px;
  border-radius: 4px;
  justify-content: center;

  
}
.game{
  height:60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  
}